.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
gradle/wrapper/gradle-wrapper.jar
.kotlin/
threadify-go/baseline-5000-users-heap.pprof
**.pprof
threadify-go/go.mod
threadify-go/go.sum
start
test-app/node_modules/
test-app/package-lock.json
node_modules/
.DS_Store
web/.gitt/**
web/web/.gitt/**
# web/**
.env

# Submodules (tracked via .gitmodules)
threadify-sdk-go/
threadify-sdk/
threadify-sdk-python/

# Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# Go coverage
coverage.txt
coverage.out

threadify-go/api/server
threadify-go/cmd/server
threadify-go/bin/*
