.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
gradle/wrapper/gradle-wrapper.jar
.kotlin/
threadify-go/baseline-5000-users-heap.pprof
**.pprof
threadify-go/archiver
threadify-go/server
threadify-go/go.mod
threadify-go/go.sum
start
threadify-go/main
test-app/node_modules/
test-app/package-lock.json
